@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

.movies__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
  margin: 0 auto;

  @media (max-width: 1200px) {
    & {
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
  }
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }

  .DownTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
  }
}

//card styles
.card {
  &__img {
    border-radius: 10px;
    width: 100%;
    min-height: max-content;
  }
  &__body {
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    background-color: rgba(0, 0, 0, 0.055);
    &:hover {
      background-color: rgba(255, 160, 122, 0.301);
      transition: 0.3s ease;
      cursor: pointer;
    }
  }

  &__bodyCurrent {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    img {
      height: 450px;
    }
  }

  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem 1.5rem;
    text-align: center;
  }

  &__bodyCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding: 0.5rem;
    color: lightcoral;
    & > span {
      font-size: 2.5rem;
      font-family: "Squada One", cursive;
      font-weight: 700;
    }
  }
  &__text {
    padding: 0.5rem;
  }
  &__text_overview {
    margin: 2rem 0;
    font-size: 1.2rem;
  }
  &__rating {
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
    font-size: 1.5rem;
    color: orange;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
// movie controls
.button-card {
  font-size: 1.5rem;
  filter: blur(1px) grayscale(1);
  &:hover {
    transform: scale(1.1);
    filter: blur(0px) grayscale(0);
  }
}

.button-card_back {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.card_detail {
  margin: 1rem auto;

  @media (max-width: 1960px) {
    & {
      width: 60%;
    }
  }
  @media (max-width: 1200px) {
    & {
      width: 70%;
    }
  }
  @media (max-width: 850px) {
    & {
      width: 100%;
    }
  }
}
