@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.nav {
  height: 100%;
  max-height: 75px;
  display: grid;
  grid-template-columns: 3fr 9fr;
  text-align: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  & a {
    font-size: 1.3rem;
  }
  &__logo {
    height: 100%;
    &-img {
      height: 100%;
      width: 75px;
    }
  }
  &__menu {
    & li:hover {
      animation: shake 1s ease-in-out;
    }
  }
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
}
