.app {
    background-color: #39445a;
    color: white;
}

.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #5f77ac;
    border-radius: 10px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.media:hover {
    background-color: white;
    color: black;
}

@media (max-width: 550px) {
    .media {
        width: 46%;
    }
}

.poster {
    border-radius: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.DownTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
}

.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}